/* Body */
body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    line-height: 1.5;
}

/* Links */
a {
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: rgba(25, 25, 25, 0.50);
    top: 0;
    padding: 4%;
    position: relative;
    backdrop-filter: blur(10px);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vh;
}

.navbar img {
    height: 2.5vh;
    z-index: 2;
}

.logo {
    text-decoration: none;
    font-weight: 1000;
    font-size: 3vh;
}

.odyseelogo {
    padding-top: 1vh;
}

/* forside */
.forside {
    width: 95%;
    padding-left: 5%;
    height: calc(100vh - 30px);
    align-items: center;
    display: flex;
}

.forside a{
    margin-top: 5vh;
}

.forside-tekst {
    padding-bottom: 5vh;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
}

.forside-tekst a{
    align-self: flex-end;
    margin-right: 2.5%;
}

.tittel {
    font-size: 34px;
}

.bilde-forside {
    filter: brightness(33%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Galleri */
.galleri {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.galleri a{
    align-self: flex-end;
    margin-right: 0%;
}

.bilder-4 {
    width: 100%;
    margin-bottom: 10%;
}

.bilder-4-bilde {
    height: 25vh;
    width: 49%;
    object-fit: cover;
}

.odysee {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.odysee a{
    align-self: flex-end;
    margin-right: 0%;
}

.oppdrag {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: white;
    color: #000000;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.tjeneste {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding: 0%;
    background-color: #000000;
    color: white;
}

.tjeneste img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.tjenestetekst {
    padding: 5%;
    padding-bottom: 15%;
}

/* Kontakt */
.kontakt {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #000000;
}

.kontaktinfo {
    display: flex;
    flex-direction: column;
}

.kontaktinfo a{
    align-self: flex-end;
    margin-right: 0%;
}

/* om */
.om { 
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: #000000;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.om-bilde {
    width: 100%;
    object-fit: cover;
    padding-top: 2vw;
}

.om img{
    margin-top: 3vh;
}

.om-tekst {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.om-tekst a{
    margin-top: 2.5vh;
    align-self: flex-end;
}

.containergalleri {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #000000;
    color: white;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.containergalleri a{
    align-self: flex-end;
    margin-right: 0%;
}

.galleri-bilder {
    justify-items: flex;
    margin-bottom: 5vh;
}

.galleri-bilder img {
    max-width: 49%;
}


/* Knapper */
.hvit-knapp {
    transition: background-color 1s, transform 1s;
    background-color: #a3be8c;
    color: #000000;
    padding: 2vh;
    font-weight: 800;
    font-size: 100%;
    justify-content: space-around;
    border: none;
}

.hvit-knapp:hover {
    transition: background-color 1s, transform 1s;
    background-color: #ebcb8b;
    transform: scale(1.05);
}

.svart-knapp {
    transition: background-color 1s, transform 1s;
    background-color: #5e81ac;
    color: #d8dee9;
    padding: 2vh;
    font-weight: 800;
    font-size: 100%;
    justify-content: space-around;
    border: none;
}

.svart-knapp:hover {
    transition: background-color 1s, transform 1s;
    background-color: #88c0d0;
    transform: scale(1.05);
}

.rod-knapp {
    transition: background-color 1s, transform 1s;
    background-color: #bf616a;
    color: #d8dee9;
    padding: 2vh;
    font-weight: 800;
    font-size: 100%;
    justify-content: space-around;
    border: none;
}

.rod-knapp:hover {
    transition: background-color 1s, transform 1s;
    background-color: #d08770;
    transform: scale(1.05);
}


@media (min-width: 769px) {

.navbar {
    padding: 2vh;
    backdrop-filter: blur(10px);
    align-items: center;
    position: sticky;
    justify-content: space-between;
}

.odyseelogo{
    height: 100%;
    padding-top: 0.4vh;
}

.odyseelogo img{
    transition: transform 3s;
}

.odyseelogo img:hover {
    transition: transform 1s;
    transform: rotate(360deg);
}

.logo {
    font-size: 200%;
}

.forside{
    height: calc(87vh);
}

.forside-tekst {
    padding-bottom: 20vh;
    margin-bottom: 0vh;
}

.forside-tekst a{
    align-self: flex-start;
}

/* Galleri */
.galleri {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.galleri a{
    align-self: flex-start;
}

.bilder-4 {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.bilder-4-bilde {
    height: 50%;
    width: 49%;
}

.odysee {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.odysee a{
    align-self: flex-start;
}

.galleri-bilder img {
    transition: transform 2.5s;
    max-width: 32%;
}

/* Container 2 */
.oppdrag {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

/* Tjenester */
.tjenester {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
}

.tjeneste {
    margin: 0.5%;
    max-height: 60vh;
    max-width: 49%;
    box-sizing: border-box;
}

.tjenestebilde {
    transition: transform 1s;
    height: 60%;
    object-fit: cover;
}

.tjenestebilde:hover {
    transition: transform 1s;
    transform: rotate(1deg);
}

/* Kontakt */
.kontakt {
    text-align: left;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.kontaktinfo a{
    align-self: flex-start;
}

/* Om */
.om {
    justify-content: space-between;
    display: flex;
    align-content: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.om img {
    width: 50%;
}

.om-tekst {
    padding-right: 2vw;
    width: 75vw;
    align-self: center;
}

.om-tekst a{
    margin-top: 2.5vh;
    align-self: flex-start;
}

/* Container 5 */
.containergalleri {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    }

.containergalleri a{
    align-self: flex-start;
}

.galleri-bilder{
transition: transform 2.5s;
}

.galleri-bilder img:hover {
    transition: transform 1s;
    transform: scale(1.25);
}

}
